*.aps
*.aws
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
*.tmp
*.vp*
*.vtg
*.xpr
.DS_Store
generated
extra
hardware
firmware/kbgen/kspec.rb
firmware/kbgen/kb.kspec
firmware/kb_hh1/.generate
firmware/kb_hh1/build/.generate